<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" [routerLink]="['/kits']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="padding-bottom: 20px">
    <ion-label style="margin-top: 20px">The Basic Starter Kit contains the following items:</ion-label>
    <ion-item>Soil - $10.99</ion-item>
    <ion-item>Spade - $34.99</ion-item>
    <ion-item>Sugar Snap Peas - $2.39</ion-item>
    <ion-item>Bean Seeds - $2.39</ion-item>
<!--    <ion-item>Cucumber Seeds - $2.99</ion-item>-->
    <ion-item>Lettuce Seeds - $2.09</ion-item>
  </ion-list>
  <ion-label >You can buy this for the cheap price of $55 CAD</ion-label>
  <ion-button style="padding-top: 20px">Order Now</ion-button>
</ion-content>
