<ion-app>
  <ion-content class="ion-text-center" style="text-align: center">
    <img src="../../../assets/logo.png" style="width:auto; height:20%">
    <h4 style="color: #369c09;"><b>Launch, Learn, Trade</b></h4>
    <p>Help fight for #foodSecurity &<br>
    promote #sustainability</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="introduction-card">
            <ion-icon name="leaf" size="large"></ion-icon>
            <br>
            Launch your <b>Victory Garden</b> using our starter kits
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="introduction-card">
            <ion-icon name="book" size="large"></ion-icon>
            <br>
            Learn how to take care of your garden
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="introduction-card">
            <ion-icon name="basket" size="large"></ion-icon>
            <br>
            Buy produce you need or Sell your surplus on the MarketPlace
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list style="text-align:center; margin-top: 5%">
      <ion-button color="success" shape="round" [routerLink]="['/app-login']">Log in</ion-button>
      <ion-button color="success" fill="outline" shape="round">Sign up</ion-button>
    </ion-list>
  </ion-content>
</ion-app>
