<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Garden
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Starting Kits</ion-card-title>
      <ion-card-subtitle>Buy a starting kit for your garden</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="success" [routerLink]="['/kits']">Buy a Starter Kit</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Finance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Income</ion-label>
        <ion-badge color="success" slot="end">+$100</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Expenses</ion-label>
        <ion-badge color="danger" slot="end">-$50</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Total</ion-label>
        <ion-badge color="success" slot="end">+$50</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gardening Grid</ion-card-title>
      <ion-card-subtitle>Virtually build your garden</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Allow premium users to create and map their backyard gardens to a virtual (3*3) grid and keep track of what produce they are growing. It would also support a virtual seedling which tracks the plants growth over time.
    </ion-card-content>
  </ion-card>
</ion-content>
