
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prodyous
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "false">
  <ion-button expand="block" id="notif">
    <ion-label>Notifications</ion-label>
    <ion-badge color="danger" slot="end">10</ion-badge>
  </ion-button>
  <ion-modal [isOpen]="false" [swipeToClose]="true" trigger="notif" >
    <ng-template>
      <ion-content>Notifications</ion-content>
    </ng-template>
  </ion-modal>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Weather</ion-card-subtitle>
      <ion-card-title>Location</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Detailed information about the current weather
    </ion-card-content>
  </ion-card>
</ion-content>

