<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" [routerLink]="['/tabs/tab2']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated style="margin-top: 35px" showCancelButton="focus" autocorrect="on"></ion-searchbar>
  <ion-card class="kit-card">
    <ion-button fill="outline" color="success" [routerLink]="['/basic']">Basic Starter Kit</ion-button>
  </ion-card>
  <ion-card class="kit-card">
    <ion-button fill="outline" color="success" [routerLink]="['/customized']">Customized Starter Kit</ion-button>
  </ion-card>
  <ion-card class="kit-card">
    <ion-button fill="outline" color="success" [routerLink]="['/omekinawew']">Omekinawew Starter Kit</ion-button>
  </ion-card>
  <ion-card class="kit-card">
    <ion-button fill="outline" color="success" [routerLink]="['/harvest']">Harvest Wall Starter Kit</ion-button>
  </ion-card>
</ion-content>

